<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Pending</title>
  </head>
  <body>
    <h1>Payment Pending</h1>
    <p>redirecting ...</p>
    <script>
      setTimeout(() => {
        window.location.href = "https://test.swenson.my.id/docs";
      }, 3000);
    </script>
  </body>
</html>
